<%- include('./partials/header') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <h1><%= title %></h1>
    </nav>
    <p>Welcome to Kick/Push</p>
  </body>
</html>
<%- include('./partials/footer') %>
