* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
  "nav"
  "main"
}


body > nav {
  grid-area: nav;
  background-color: #4dd5f4;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 0 20px 0 30px;
}
  

.landing {
  background-image: url("/images/shea-rouda-3wZxerh-mwE-unsplash.jpg");
  background-size: cover;
  background-position: 100%;

}


body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  color: #010101;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Shrikhand', cursive;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #010101;
}

nav > a.active {
  color: white;
  cursor: default;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-review-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
  font-family: 'Shrikhand', cursive;
  color: #010101;
}

table td {
  padding: 10px;
  border-radius: 35%;
 
  color: rgb(6, 7, 7);
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}





#kp-rating {
  
  font-family: 'Roboto Condensed', sans-serif;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #8434d3;
  color: #fbfafa;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
}

#list a:hover {
  background-color: rgb(3, 3, 3);
}

#show-page {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  text-align:justify;
  background-color: #f8fafa;
  padding: 20px;
  overflow-y: scroll;
 
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-review-form,
 #edit-skate, 
 #add-skate {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-review-form input[type="submit"]  {
  width: 10rem;
  grid-column: 2 / 3;
}

hr {
  color: #424748
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  border: 2px solid #B8C0C2;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge {
  background-color: #B8C0C2;
  padding: .5rem;
  margin: .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

#show-page ul {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}
  
#show-page li {
  font-weight: bold;
  
}

.login {
  display: flex;
  justify-content: center;
  align-items:stretch;
  height: 34px;
}

.login img {
  height: 20px;
  
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}




.landing-div {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #B8C0C2;
  height: 80px;
  opacity: 50%;
  padding: -20px;
}

h1 {
  color: #E8ECEB;
  font-family: 'Shrikhand', cursive;
  background-color: #010101;
  width: 180px;
}
h2 {
  color: #424748;
  font-family: 'Shrikhand', cursive;
  width: 180px;
}


div {
  font-family: 'Roboto Condensed', sans-serif;
}

#new-skate {
  border-radius: 4px;
  background-color: #010001;
  color: #fbfafa;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
}

footer {
  border: #010001 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://i.imgur.com/1TKEdtX.jpg");
  padding: 20px;
  overflow-y: scroll;
}

