<%- include('../partials/header') %>

<main class="edit">
  <h2>Add A Skate</h2>
<form id= "add-skate" action="/skateboards" method="POST">
  <label>Name:
    <input type="text" name="name">
  </label><br>
  <label>Type:   
    <select name="type">
      <option value="Long Board">Long Board</option>
      <option value="Short Board">Short Board</option>
      <option value="Mini Board">Mini Board</option>
      <option value="Electric">Electric</option>
      <option value="Other">Other</option>
    </select>
  </label><br>
  <label>Deck Shape:
    <input type="text" name="deckShape">
  </label><br>
  <label>Trucks:
    <input type="text" name="trucks">
  </label><br>
  <label>Wheels:
    <input type="number" name="wheels">millimeters
  </label><br>
  <label>Modifications:
    <input type="text" name="modifications">
  </label><br>
  <button type="submit">Add Skate</button>
</form>
</main>
<footer></footer>
<%- include('../partials/footer') %>